* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #f8fbff;
}

body {
    background-color: #0F2830;
}

.header {
    background-color: #0b1e24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-weight: 600;
    font-size: 3rem;
    color: #52ffc5;
}

.react-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-logo i {
    font-size: 2rem;
}


.react-logo * {
    color: aqua;
    padding-right: 3px;
}

.header .links {
   display: flex;
   width: 220px;
   justify-content: space-between;
   align-items: center; 
}

.header .links * {
    font-size: 2.6rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.hero img {
    height: 400px;
    padding-left: 40px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

.hero .name {
    font-family: 'Osworld', sans-serif;
    font-weight: 600;
    font-size: 5rem;
}

.hero .job {
    color: #52ffc5;
    font-size: 1.7rem;
}

.about {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: top;    
}

.about .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b1e24;
    margin-right: 20px;
    padding: 20px;
    padding-right: 30px;
    padding-left: 7px;
    border-radius: 9px;
}

.about .skills .title {
    font-family: 'Finlandica', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #52ffc5;
    margin-bottom: 10px;
}

.about .list {
    display: flex;
}

.about .list ul {
    list-style: none;
}

.about .list ul li::before {
    content: "\2022";
    color: #52ffc5;
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.about .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b1e24;
    padding: 20px;
    border-radius: 9px;
}

.about .bio .title {
    font-family: 'Finlandica', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #52ffc5;
    margin-bottom: 10px;
}

.projects {
    background-color: #52ffc5;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    color: #0b1e24;
}